<html>
<head>
<title>Chrome App</title>
</head>
<body>
<h1>Basic Chrome App with nodejs and express</h1>
<script src="/js/axios/0.21.0/axios.min.js"></script>
<script src="/js/kill-process.js"></script>
</body>
</html>